.topButton {
  background: #4aaff7;
  color: #fff;
  height: 60px;
  margin-top: 100px;
  float: right;
  width: 210px;
  margin-right: 50px;
  border-radius: 20px;
  font-size: 25px;
  padding: 10px;
}

.topCancel {
  height: 60px;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  margin-right: 50px;
  width: 210px;
  display: flex;
  border-radius: 20px;
  font-size: 25px;
  padding: 10px;
}

.topShare {
  height: 60px;
  float: right;
  width: 200px;
  border-radius: 20px;
  font-size: 25px;
  padding: 1px;
  margin-top: 20px;
}

.profileBox {
  margin: 10px 10px 10px 10px;
}
