.about {
  font-size: 15px;
  color: black;
}

.footer-3 {
  
  height: 1000px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
 
}

.footer-3 .path-13440-T8g9v9 {
  background-color: transparent;
  height: 1398px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 100%px;
}

.footer-3 .path-13439-T8g9v9 {
  background-color: transparent;
  height: 1398px;
  left: -220px;
  object-fit: cover;
  position: absolute;
  top: 70px;
  width: 1800px;
}

.footer-3 .group-8067-T8g9v9 {
    background-color: transparent;
    height: 180px;
    left:200px;
    position: absolute;
    top: 320px;
    width: 65%;
    
  }
  

.footer-3 .rectangle-2956-bAd4wH {
  background-color: var(--white);
  
  height: 100%;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 100%;
}

.footer-3 .group-8069-bAd4wH {
  background-color: transparent;
  bottom: calc(49.62% - 73px);
  height: 147px;
  left: 83px;
  position: absolute;
  width: 600px;
}

.footer-3 .subscribe-to-our-newsletter-Y53TE6 {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  height: 62px;
  left: 0px;
  letter-spacing: 0px;
  line-height: 43px;
  position: absolute;
  text-align: left;
  top: 8px;
  white-space: nowrap;
  width: calc(100% + 2px);
}

.footer-3 .dont-miss-any-u-nd-latest-reels-Y53TE6 {
  background-color: transparent;
  bottom: -8px;
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  height: 68px;
  left: 0px;
  letter-spacing: 0px;
  line-height: 23px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100% - 69px);
}

.footer-3 .group-8070-bAd4wH {
  background-color: transparent;
  bottom: calc(49.74% - 43px);
  height: 70px;
  position: absolute;
  right: 30px;
  width: 450px;
}

.footer-3 .rectangle-2957-xmEJhf {
  background-color: var(--white);
  border: 1px solid #bdbdbd;
  border-radius: 174px;
  height: 70%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 55%;
}

.footer-3 .rectangle-2958-xmEJhf {
  background-color: var(--picton-blue);
  border: 1px solid var(--white);
  border-radius: 132px;
  height: 70%;
  position: absolute;
  right: 120px;
  top: 0px;
  width: 150px;
}

.footer-3 .email-address-xmEJhf {
  background-color: transparent;
  bottom: calc(40.68% - 13px);
  color: hsl(298, 77%, 46%);
  font-family: var(--font-family-poppins);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  height: 20px;
  left: 10px;
  letter-spacing: 0px;
  line-height: 23px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width:150px;
  padding: 23px;
  border-radius: 10px;
  
}
.footer-3 .email-address-xmEJhf:focus-visible{
  outline: none;
}
.footer-3 .subscribe-xmEJhf {
  background-color: transparent;
  bottom: calc(49.68% - 13px);
  height: 34px;
  letter-spacing: 0px;
  line-height: 23px;
  position: absolute;
  right: 65px;
  text-align: left;
  white-space: nowrap;
  width: 116px;
  border-radius: 20px;
}

.footer-3 .logo-T8g9v9 {
  background-color: transparent;
  
  font-family: var(--font-family-poppins);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 100px;
  letter-spacing: 0px;
  line-height: 62px;
  position: absolute;
  text-align: left;
  top: 600px;
  white-space: nowrap;
  width: auto;
}

.footer-3 .company-T8g9v9 {
  background-color: transparent;
  height: auto;
  left: 500px;
  letter-spacing: 0px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 600px;
  white-space: nowrap;
  width: auto;
}

.footer-3 .about-T8g9v9 {
  background-color: transparent;
  height: auto;
  left: 530px;
  letter-spacing: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 680px;
  white-space: nowrap;
  width: auto;
}

.footer-3 .about-pPA8hA {
  background-color: transparent;
  height: auto;
  left: 800px;
  letter-spacing: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 680px;
  white-space: nowrap;
  width: auto;
}

.footer-3 .about-BXjArX {
  background-color: transparent;
  height: auto;
  left: 1020px;
  letter-spacing: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 680px;
  white-space: nowrap;
  width: auto;
}

.footer-3 .contact-T8g9v9 {
  background-color: transparent;
  height: auto;
  left: 530px;
  letter-spacing: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 730px;
  white-space: nowrap;
  width: auto;
}

.footer-3 .contact-pPA8hA {
  background-color: transparent;
  height: auto;
  left: 800px;
  letter-spacing: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 730px;
  white-space: nowrap;
  width: auto;
}

.footer-3 .contact-BXjArX {
  background-color: transparent;
  height: auto;
  left: 1020px;
  letter-spacing: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 730px;
  white-space: nowrap;
  width: auto;
}

.footer-3 .carrer-T8g9v9 {
  background-color: transparent;
  height: auto;
  left: 530px;
  letter-spacing: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 780px;
  white-space: nowrap;
  width: auto;
}

.footer-3 .carrer-pPA8hA {
  background-color: transparent;
  height: auto;
  left: 800px;
  letter-spacing: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 780px;
  white-space: nowrap;
  width: auto;
}

.footer-3 .carrer-BXjArX {
  background-color: transparent;
  height: auto;
  left: 1020px;
  letter-spacing: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 780px;
  white-space: nowrap;
  width: auto;
}

.footer-3 .bytedance-T8g9v9 {
  background-color: transparent;
  height: auto;
  left: 520px;
  letter-spacing: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 825px;
  white-space: nowrap;
  width: auto;
}

.footer-3 .bytedance-pPA8hA {
  background-color: transparent;
  height: auto;
  left: 790px;
  letter-spacing: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 825px;
  white-space: nowrap;
  width: auto;
}

.footer-3 .bytedance-BXjArX {
  background-color: transparent;
  height: auto;
  left: 1020px;
  letter-spacing: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 825px;
  white-space: nowrap;
  width: auto;
}

.footer-3 .terms-T8g9v9 {
  background-color: transparent;
  height: auto;
  left: 790px;
  letter-spacing: 0px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 600px;
  white-space: nowrap;
  width: auto;
}

.footer-3 .programs-T8g9v9 {
  background-color: transparent;
  height: auto;
  left: 1000px;
  letter-spacing: 0px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 600px;
  white-space: nowrap;
  width: auto;
}

.footer-3 .group-8068-T8g9v9 {
  background-color: transparent;
  height: 350px;
  left: 1250px;
  position: absolute;
  top: 600px;
  width: 171px;
  
}

.footer-3 .about-d94aYz {
  background-color: transparent;
  height: 45px;
  letter-spacing: 0px;
  line-height: 30px;
  position: absolute;
  right: 63px;
  text-align: left;
  top: calc(25.93% - 15px);
  white-space: nowrap;
  width: 92px;
}

.footer-3 .contact-d94aYz {
  background-color: transparent;
  bottom: calc(57.11% - 19px);
  height: 45px;
  letter-spacing: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100% - 37px);
  right: 20px;
}

.footer-3 .carrer-d94aYz {
  background-color: transparent;
  bottom: calc(40.16% - 9px);
  height: 45px;
  letter-spacing: 0px;
  line-height: 30px;
  position: absolute;
  right: 45px;
  text-align: left;
  white-space: nowrap;
  width: 106px;
}

.footer-3 .bytedance-d94aYz {
  background-color: transparent;
  bottom: 5px;
  height: 45px;
  right: -20px;
  letter-spacing: 0px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100% + 2px);
  bottom: calc(25.16% - 9px);
}

.footer-3 .support-d94aYz {
  background-color: transparent;
  height: 51px;
  left: 1px;
  letter-spacing: 0px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 7px;
  white-space: nowrap;
  width: calc(100% - 27px);
}

.footer-3 .lorem-ipsum-is-text-ever-since-T8g9v9 {
  background-color: transparent;
  height: auto;
  left: 70px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  text-align: left;
  top: 787px;
  white-space: nowrap;
  width: auto;
  letter-spacing: 1px;
  top: 700px;
}

.footer-3 .group-8065-T8g9v9 {
  background-color: transparent;
  height: 69px;
  left: 70px;
  position: absolute;
  top: 820px;
  width: 243px;
}

.footer-3 .ellipse-281-EkTEXF {
  background-color: transparent;
  border-radius: 34.5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 69px;
}

.footer-3 .ellipse-282-EkTEXF {
  background-color: transparent;
  border-radius: 35px/34.5px;
  height: 100%;
  position: absolute;
  right: calc(49.71% - 35px);
  top: 0px;
  width: 70px;
}

.footer-3 .ellipse-283-EkTEXF {
  background-color: transparent;
  border-radius: 35px/34.5px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 70px;
}

.footer-3 .clipart2661594-EkTEXF {
  background-color: transparent;
  height: calc(100% - 23px);
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 12px;
  width: 45px;
}

.footer-3 .google-logo-9808-EkTEXF {
  background-color: transparent;
  bottom: 8px;
  height: 50px;
  object-fit: cover;
  position: absolute;
  right: calc(49.48% - 25px);
  width: 51px;
}

.footer-3 .mask-group-2-EkTEXF {
  background-color: transparent;
  bottom: calc(50% - 23px);
  height: 47px;
  object-fit: cover;
  position: absolute;
  right: 10px;
  width: 47px;
}

.footer-3 .line-10-T8g9v9 {
  background-color: transparent;
  height: 1px;
  left: 608px;
  object-fit: cover;
  position: absolute;
  top: 1071px;
  width: 1181px;
}

.footer-3 .copyright-2020-rights-reserved-T8g9v9 {
  background-color: transparent;
  height: auto;
  left: 741px;
  letter-spacing: 0px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 950px;
  white-space: nowrap;
  width: auto;
}
